// Define variable defaults
$body-bg: #000;
$body-color: #ddd;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

.dropdown-menu.bg-dark {
    a {
        color: #fff;
        &:hover {
            background-color: transparent;
            color: $success;
        }
    }
}
.btn {
    &.bg-dark,
    &#{&}-dark {
        &:hover,
        &:active,
        &:focus {
            background-color: transparent !important;
            outline: none !important;
            border-color: transparent !important;
            box-shadow: none;
            svg {
                fill: $success;
            }
        }
    }
}
