// Define variable defaults
$body-bg: #000;
$body-color: #ddd;

$theme-colors: (
    "light-info": #00dcff,
    "light-success": #00dcff
);

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

// nav Links
.nav-link {
    color: $body-color;
    &:hover {
        color: rgba($success, 0.7);
    }
    &.active {
        color: $success;
    }
}

.dropdown-menu.bg-dark {
    a {
        color: #fff;
        &:hover {
            background-color: transparent;
            color: $success;
        }
    }
}
.btn {
    &.bg-dark,
    &#{&}-dark {
        &:hover,
        &:active,
        &:focus {
            background-color: transparent !important;
            outline: none !important;
            border-color: transparent !important;
            box-shadow: none;
            svg {
                fill: $success;
            }
        }
    }
}

@each $i, $spacer in $spacers {
    .top-#{$i} {
        top: $spacer !important;
    }
    .right-#{$i} {
        right: $spacer !important;
    }
    .bottom-#{$i} {
        bottom: $spacer !important;
    }
    .left-#{$i} {
        left: $spacer !important;
    }
}

@include media-breakpoint-up(md) {
    .position-md-sticky {
        position: sticky !important;
    }
    .position-md-static {
        position: static !important;
    }
}

$viewportSizes: 10, 20, 30, 40, 50, 60, 70, 80, 90;

@each $size in $viewportSizes {
    .vh-#{$size} {
        height: #{$size}vh !important;
    }
    .vw-#{$size} {
        width: #{$size}vh !important;
    }
}

// dropdown
.scorllable-dropdown {
    max-height: 90vh;
    overflow-y: auto;
}

// Modal
.modal {
    &-content {
        border: none;
    }
}

// App managment
.text-no-mrgin {
    .input-group-text {
        padding-top: 0;
        padding-bottom: 0;
    }
}
